<!-- saved from url=(0075)http://lms.myclass.vn/pluginfile.php/12538/mod_lesson/intro/bookTicket.html -->
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400;1,500;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@100;300;400;500;600;700;800&display=swap"
      rel="stylesheet"
    />
    <style>
      #appointment {
        width: 40%;
        min-width: 600px;
        max-width: 700px;
        margin: auto;
        font-family: "Be VietNam", sans-serif;
        font-size: 14px;
        padding: 40px;
        background-color: #f0f3f8;
      }
      div {
        box-sizing: border-box;
      }
      header a {
        float: right;
        margin-top: 10px;
        text-decoration: none;
        color: #6658f3;
        font-weight: 700;
        font-family: "Roboto", sans-serif;
      }
      main {
        margin-top: 40px;
        background-color: #ffffff;
        border-radius: 14px 14px 40px 14px;
      }
      main img {
        width: 100%;
      }
      main p {
        margin: 5px 0;
      }
      main .info {
        padding: 40px;
      }
      main .info__wellcome {
        color: #3c3b3b;
        font-weight: 500;
      }
      main .info h1 {
        color: #070d14;
        font-size: 32px;
        margin-bottom: 25px;
      }
      main .info__place h2 {
        font-size: 14px;
        margin-bottom: 0;
      }
      main .info__place {
        font-weight: bold;
      }
      main .info__thanks {
        color: #3c3b3b;
        margin-top: 20px;
      }
      table tr td {
        font-size: 14px;
        color: #000000;
        font-weight: 500;
      }
      table tr td:first-child {
        width: 30%;
      }

      footer p {
        color: #727070;
        font-size: 12px;
        text-align: center;
        margin: 5px 0;
      }
      footer {
        margin-top: 20px;
      }
      footer div {
        display: flex;
        justify-content: center;
      }
      footer div a {
        margin: 5px;
        color: #727070;
        font-size: 12px;
        cursor: pointer;
      }

      @media screen and (max-width: 575px) {
        html {
          font-size: 40%;
        }
        #appointment {
          width: 100%;
          min-width: unset;
        }
        .appointment {
          padding: 0;
        }
        .appointment main {
          padding: 10px;
        }
        main .info {
          padding: 10px;
        }
      }
    </style>
  </head>
  <body>
    <div id="appointment">
      <div class="appointment">
        <header>
          <img src="./logo_wisere.svg" alt="logo" />
          <a href="https://beta.wisere.com" target="blank">
            > Visit website
          </a>
        </header>
        <main>
          <img class="banner" src="./banner.png" alt="banner" />
          <div class="info">
            <h1>
              Appointment Booking Detail
            </h1>
            <div class="info__wellcome">
              <p>
                Hi <%=name%>.
              </p>
              <p>
                This is your appointment booking at <%=provider%>. Please help to check and do not hesitate to contact
                us if you get any problems. Thank you!
              </p>
            </div>
            <div class="info__place">
              <h2>
                <%=dentist_name%>
              </h2>
              <table>
                <tr>
                  <td>
                    Branch:
                  </td>
                  <td>
                    371 Truong Chinh, ward 14, Tan Binh dist, HCM
                  </td>
                </tr>
                <tr>
                  <td>
                    Dentist:
                  </td>
                  <td>
                    Dr. Ngoc Mai
                  </td>
                </tr>
                <tr>
                  <td>
                    Service:
                  </td>
                  <td>
                    Check-up (500.000vnd)
                  </td>
                </tr>
                <tr>
                  <td>
                    Date & Time:
                  </td>
                  <td>
                    04-Aug-2020 17:00 PM
                  </td>
                </tr>
              </table>
            </div>
            <div class="info__thanks">
              Hope you enjoy our treatments
              <p>
                Sincerely.
              </p>
            </div>
          </div>
        </main>
        <footer>
          <p>
            Sent from Wisere Marketplace
          </p>
          <p>
            Wisere, 268 Tran Hung Dao Street, Ward 11 , District 5, HCMC
          </p>
          <div>
            <a href="https://beta.wisere.com" target="blank">Wisere for Business</a>
            <a href="https://beta.wisere.com" target="blank">View in browser</a>
            <a href="https://beta.wisere.com" target="blank">Unsubscribe</a>
          </div>
        </footer>
      </div>
    </div>
  </body>
</html>
